.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 80%;
  padding: 20px;
}

.title {
  color: #333;
  font-size: 2em;
  margin: 20px;
}

.intro {
  font-size: 1.2em;
  color: #555;
  margin: 30px;
}

.features {
  list-style-type: none;
  padding: 0;

  li {
    margin-bottom: 8px;
    font-weight: bold;
    margin: 10px;

    &:before {
      content: '\2022';
      color: #ff9900;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

.description {
  color: #666;
  margin: 5px;
}

.welcome {
  font-size: 1.5em;
  font-weight: bold;
  color: #009688;
  margin: 5px;
}

/* Media Query for Responsive Text */
@media screen and (max-width: 600px) {
  .title {
    font-size: 1.5em; /* Adjust the font size for smaller screens */
  }

  .intro {
    font-size: 1em; /* Adjust the font size for smaller screens */
    margin: 20px; /* Adjust the margin for smaller screens */
  }

  .features li {
    font-size: 1em; /* Adjust the font size for smaller screens */
    margin: 5px; /* Adjust the margin for smaller screens */
  }

  .description {
    font-size: 0.8em; /* Adjust the font size for smaller screens */
  }

  .welcome {
    font-size: 1.2em; /* Adjust the font size for smaller screens */
    margin: 3px; /* Adjust the margin for smaller screens */
  }
}
