// ArticleList.scss

.article-list-container {
  text-align: center;
  margin-top: 20px;

  p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .article-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .article-item {
      width: 150px; // Set a fixed width
      height: 200px;
      margin: 10px;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      .list-center {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          font-size: 14px;
          margin: 0;
        }

        .image {
          max-width: 100%;
          max-height: 80px;
          width: 80px;
          object-fit: cover;
          border-radius: 50%;
          margin-top: 10px;
        }
      }
    }
  }
}
