@import '../../../theme/variables.scss';

.list-category-container {
  margin: 0 auto;
  max-width: 80%;
  padding: 20px;
  background-color: $gray_light;
}

.list-category {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;

  .category-item {
    width: 200px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    .list-center {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 200px;
      height: 200px;

      @media (max-width: 768px) {
        .list-center {
          width: 100px;
          margin: 8px;
          margin-bottom: 8px;
        }
      }

      p {
        display: block;
        font-weight: 500;
        margin-bottom: 10px;
      }

      .image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
    }
  }
}

.category {
  font-size: xx-large;
  margin-bottom: 40px;
  text-decoration: underline;
  font-weight: 300;
  
}

