// FooterStyles.scss

@import '../../../theme/variables.scss';

.footer-wrapper {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 4rem; /* Adjust the height as needed */
  max-width: 32rem;
  transform: translateX(-50%);
  background-color: $secondary;
  border: 1px solid #ccc;
  border-radius: 9999px;
  bottom: 1rem; /* Adjust the bottom spacing as needed */
  left: 50%;
  margin-top: 10 !important;

  &.dark {
    background-color: $tertiary;
    border-color: $primary; /* Adjust border color as needed */
  }

  .grid {
    height: 100%;
    max-width: 32rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;

    .inline-flex {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
      &:hover {
        background-color: $secondary_dark;
        border-radius: 25px;
      }

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        Image {
          filter: invert(44%) sepia(23%) saturate(2861%) hue-rotate(350deg) brightness(90%) contrast(89%);
        }
      }
    }
  }

  @media (min-width: 769px) {
    // Styles for screens larger than 768px width (desktop)
    display: none; // Hide the entire footer in the footer

    position: fixed;
    bottom: unset;
    left: unset;
    right: 20px; // Adjust the right spacing as needed
    top: 10px; // Adjust the top spacing as needed
  }
}
