/* Header.scss */

@import '../../../theme/variables';

/* Styles for the header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  color: $primary;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

/* Styles for the content within the header */
.header-content {
  display: flex;
  align-items: center;
  width: 100%;
}

/* Styles for the left side of the header */
.header-left {
  margin-right: auto;
  /* Move the logo to the center */

  img {
    margin-left: 20px;
  }
}

/* Styles for the right side of the header */
.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;

  /* Adjust the margin between icons */
  a:not(:last-child) {
    margin-right: 30px;
  }
}


/* Media Queries for small screens (e.g., smartphones) */
@media (max-width: 768px) {
  .header-right {
    display: none;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-left{

    margin: 0px;
  }
}